
@mixin make-badge-colours(){
  @each $label, $colour in $syn-colours {
    .syn-badge-#{$label}{
      background-color: $colour;
      border:1px solid $colour;
    }
    .syn-badge-#{$label}-invert{
      color: $colour;
      border:1px solid $colour;
    }
  }
}