
@mixin make-button-colours(){
  @each $label, $colour in $syn-colours {
    .syn-btn-#{$label}{
      background-color: $colour;
      border:1px solid $colour;
      color:$syn-colour-white;


      @include hover {
        color: darken($syn-colour-white,10%);
        background-color: darken($colour,10%);
        border-color: darken($colour,10%);
      }
    }
    .syn-btn-#{$label}-invert{
      color: $colour;
      border:1px solid $colour;
      background-color:$syn-colour-white;
    }
  }
}