/* FLEXBOX EXAMPLES */

.flexExample{

    border:1px solid $syn-colour-gray-light;
    color:$syn-colour-gray-light;

    &--minHeight{
        min-height:130px;

        .flexExample__item{
            height:inherit;
        }
    }

    &--minWidth{
         .flexExample__item{
            width:inherit;
        }
    }

    &__item{
        background-color:$syn-colour-gray-light;
        color:$syn-colour-gray-lightest;
        margin:5px;
        width:50px;
        height:50px;
        line-height:50px;
        text-align:center;

        &--noWidth{
            width:auto;
        }

        &--noHeight{
            height:auto;
            
        }
    }

}