.syn-detail{
  margin:$spacer 0;
}

.syn-detail-actions{
  background-color: $syn-colour-white;
  padding-left:$spacer/4;
  position: absolute;
  right: 0;
  display:none;
  i.material-icons{
    font-size: 1.1rem;
  }
}

.syn-detail-title{
  width:100%;
  border-bottom: (2 * $table-border-width) solid $table-border-color;
  position: relative;
  margin: $spacer 0;
  > span {
    position: absolute;
    left:0;
    top:-.7rem;
    background-color: $syn-colour-white;
    text-transform: uppercase;
    color:$syn-colour-blue-dark;
    font-size:77%;
    font-weight:bold;
    padding: $spacer/4;
  }

  .syn-detail-actions{
    top: -0.5rem;
    display:initial;
  }

}

.syn-detail-label{
  min-width: $spacer*8;
  text-align: right;
  padding-right: $spacer;
  color: $syn-colour-gray;
}

.syn-detail-group{
  @extend .syn-flex;
  position: relative;
  padding:$spacer 0 ($spacer/2);

  &:hover{
    .syn-detail-actions{
      display:initial;
    }
  }
}

.syn-detail-middle{
  margin:$spacer $spacer;
}