$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;
$table-bg-hover:                $syn-colour-gray-lightest !default;
$table-bg-active:               $table-bg-hover !default;
$table-bg-accent:               rgba($table-bg-hover,0.5);

$table-border-width:            $border-width !default;
$table-border-color:            $syn-colour-border-light !default;

.syn-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  border-collapse: collapse;

  th,
  td {
    padding: $table-cell-padding;
    line-height: $line-height;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
    text-align: left;
  }

  thead th {
    vertical-align: bottom;
    border-top:none;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
    text-transform: uppercase;
    color:$syn-colour-blue-dark;
    padding: $table-sm-cell-padding $table-cell-padding;
    font-size:87%;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

  .syn-table {
    background-color: $body-bg;
  }
}


//
// Condensed table w/ half padding
//

.syn-table-sm {
  thead th,
  td {
    padding: $table-sm-cell-padding;
  }
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.syn-table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.syn-table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.syn-table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}
