$badge-colour: $syn-colour-white !default;
$badge-padding-x:             .4em !default;
$badge-padding-y:             .25em !default;
$badge-font-size:             .675rem !default;
$badge-font-weight:           bold !default;


.syn-badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  color: $badge-colour;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius();

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for tags in buttons
.btn .syn-badge {
  position: relative;
  top: -1px;
}

// Colors
@include make-badge-colours();
