$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-divider-color:      $syn-colour-gray-light !default;
$breadcrumb-active-color:       $syn-colour-gray-light !default;
$breadcrumb-divider:            "/" !default;


.syn-breadcrumb{
    @extend .syn-flex;
    @extend .syn-flex-align-center;
    padding: 0;
    margin: 0;
    list-style: none;
}


.syn-breadcrumb-item{
  @extend .syn-flex;
  @extend .syn-flex-align-center;
  text-transform: capitalize;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .syn-breadcrumb-item::before {
    display: inline-block;
    padding-right: $breadcrumb-item-padding;
    padding-left: $breadcrumb-item-padding;
    color: $breadcrumb-divider-color;
    content: "#{$breadcrumb-divider}";
  }
}

.syn-breadcrumb-link {
  @extend .syn-flex;
  @extend .syn-flex-1;
  @extend .syn-flex-align-center;
  padding:($spacer/3) 0;

  @include hover-focus {
    text-decoration: underline;
  }

  &.active {
    color: $breadcrumb-active-color;
  }
}