$btn-split-border-colour: $syn-colour-border-light !default;

.syn-btn-group,
.syn-btn-split{
  @extend .syn-flex;

  .syn-btn:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .syn-btn:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:none;
  }

  .syn-btn:not(:first-child):not(:last-child){
    border-radius: 0;
    border-left:1px solid $btn-split-border-colour;
    border-right:1px solid $btn-split-border-colour;
    margin-left:-1px;
  }
}


.syn-btn-split{

  .syn-btn-dropdown {
    &::after {
      margin-right: .1rem;
      margin-left: .1rem;
    }
    border-left:1px solid $btn-split-border-colour;
  }
}