$btn-padding-x:                  .6rem !default;
$btn-padding-y:                  .35rem !default;
$btn-line-height:                1.3 !default;
$btn-font-weight:                normal !default;
$btn-box-shadow:                 inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075) !default;
$btn-active-box-shadow:          inset 0 3px 5px rgba(0,0,0,.125) !default;

$btn-link-disabled-color:        $syn-colour-gray-light !default;

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;


//
// Base styles
//

.syn-btn {
  position:relative;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  font-size: $font-size-base;
  @include border-radius($btn-border-radius);
  transition: all .2s ease-in-out;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }


  @include hover-focus {
    text-decoration: none;
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    box-shadow:$btn-active-box-shadow;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .15;
    box-shadow:none;
  }

}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}




//
// Link buttons
//

// Make a button look and behave like a link
.syn-btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow:none;
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }


  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


//
// Subtle buttons
//

.syn-btn-subtle {
  font-weight: normal;
  border-radius: $btn-border-radius;
  color:$syn-colour-gray;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    box-shadow:none;
  }
  &,
  &:focus,
  &:active {

  }
  @include hover {
      border:1px solid $syn-colour-gray;
  }


  @include hover-focus {
    color: $syn-colour-gray;
    text-decoration: none;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


//
// Block button
//

.syn-btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.syn-btn-block + .syn-btn-block {
  margin-top: $btn-block-spacing-y;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.syn-btn-block {
    width: 100%;
  }
}

//
// Dropdown toggle button
//

.syn-btn-dropdown{
  &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .2rem;
    margin-left: .65rem;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }

  // Prevent the focus on the dropdown toggle when closing dropdowns
  &:focus {
    outline: 0;
  }
}

//
// Icon button
//
.syn-btn-icon{
  padding-left:2rem;

  //icons
  i.material-icons{
    font-size: 1.1rem;
    position: absolute;
    left: .5rem;
    top:.4rem;
  }
}


//
// transparent button
//
.syn-btn-transparent{
  padding: 0;
  background: transparent;
}

//
// default button
//
.syn-btn-default{
  background-color: $syn-colour-gray-lightest;
  border:1px solid $syn-colour-border-light;
  color:$syn-colour-gray;


  @include hover {
    color: darken($syn-colour-gray,10%);
    background-color: darken($syn-colour-gray-lightest,5%);
    border-color: darken($syn-colour-border-light,10%);
  }
}

// Colors (experimental)
@include make-button-colours();