$dropdown-bg:                    $syn-colour-white !default;
$dropdown-border-color:          $syn-colour-border-light!default;
$dropdown-border-width:          $border-width !default;
$dropdown-divider-bg:            $syn-colour-border-light !default;

$dropdown-link-color:            $syn-colour-gray !default;
$dropdown-link-hover-color:      $syn-colour-white !default;
$dropdown-link-hover-bg:         $syn-colour-blue !default;

$dropdown-link-active-color:     $dropdown-link-hover-color !default;
$dropdown-link-active-bg:        $dropdown-link-hover-bg !default;

$dropdown-link-disabled-color:   $syn-colour-gray-lighter !default;

$dropdown-header-color:          $syn-colour-gray-light !default;

// The dropdown wrapper (`<div>`)
.syn-dropup,
.syn-dropdown {
  position: relative;
}

.syn-dropup {
  .syn-btn-dropdown {
    &::after {
      border-top: 0;
      border-bottom: $caret-width solid;
    }
  }
}




// The dropdown menu
.syn-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  font-size: $font-size-base;
  color: $syn-colour-gray;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $dropdown-bg;
  background-clip: padding-box;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($border-radius);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

// Dividers (basically an `<hr>`) within the dropdown
.syn-dropdown-divider {
  @include nav-divider($dropdown-divider-bg);
}

// Links, buttons, and more within the dropdown menu
//
// `<button>`-specific styles are denoted with `// For <button>s`
.syn-dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: 3px 14px;
  clear: both;
  font-weight: normal;
  line-height: $line-height;
  color: $dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  // Active state
  &.active {
    @include plain-hover-focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      background-color: $dropdown-link-active-bg;
      outline: 0;
    }
  }

  // Disabled state
  //
  // Gray out text and ensure the hover/focus state remains gray
  &.disabled {
    @include plain-hover-focus {
      color: $dropdown-link-disabled-color;
    }

    // Nuke hover/focus effects
    @include hover-focus {
      text-decoration: none;
      cursor: $cursor-disabled;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      //@include reset-filter();
    }
  }
}

//
// Iconised dropdown item
//
.syn-dropdown-icon{

  .syn-dropdown-item{
    padding-left:2.4rem;
    position:relative;
  }

  //icons
  i.material-icons{
    font-size: 1.1rem;
    position: absolute;
    left: .76rem;
    top:.36rem;
  }
}


// Open state for the dropdown
.open {
  // Show the menu
  > .syn-dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
//
// Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
// menu with the parent.
.syn-dropdown-menu-right {
  right: 0;
  left: auto; // Reset the default from `.dropdown-menu`
}
// With v3, we enabled auto-flipping if you have a dropdown within a right
// aligned nav component. To enable the undoing of that, we provide an override
// to restore the default dropdown menu alignment.
//
// This is only for left-aligning a dropdown menu within a `.navbar-right` or
// `.pull-right` nav component.
.syn-dropdown-menu-left {
  right: auto;
  left: 0;
}

// Dropdown section headers
.syn-dropdown-header {
  display: block;
  padding: 6px 14px;
  //font-size: $font-size-sm;
  font-size:0.675rem;
  //line-height: $line-height;
  color: $dropdown-header-color;
  white-space: nowrap; // as with > li > a
  text-transform: uppercase;
  font-weight:bold;
}

// Backdrop to catch body clicks on mobile, etc.
.syn-dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($zindex-dropdown - 10);
}



// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .syn-dropup after the standard .syn-dropdown class and you're set.

.syn-dropup{
  // Reverse the caret
  .caret {
    content: "";
    border-top: 0;
    border-bottom: $caret-width solid;
  }

  // Different positioning for bottom up menu
  .syn-dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}







