.syn-header{
    @extend .syn-flex;
}

.syn-header-icon{
  margin-right:$spacer;

  .fa,
  .material-icons {
    font-size: ($font-size-lg * 4);
    color:darken($syn-colour-gray-lightest,7);
  }
}

.syn-header-details{
 /* @extend .syn-flex;
  @extend .syn-flex-column;
  @extend .syn-flex-justify-center;*/

  h1{
    margin:0;
  }
}