//
// Base styles
//

.syn-input-group {
  position: relative;
  @extend .syn-flex;

  .syn-form-control {
    // Ensure that the input is always above the *appended* addon button for
    // proper border colors.
    position: relative;
    z-index: 2;
    // Bring the "active" form control to the front
    @include hover-focus-active {
      z-index: 3;
    }
    @extend .syn-flex-1;
    margin-bottom: 0;
  }

  .syn-btn{
    line-height: 1.6;
  }
}

.syn-input-group-addon,
.syn-input-group-btn,
.syn-input-group .syn-form-control {
  &:not(:first-child):not(:last-child) {
    @include border-radius(0);
  }
}

.syn-input-group-addon,
.syn-input-group-btn {
  white-space: nowrap;
  vertical-align: middle; // Match the inputs
}



//
// Text input groups
//

.syn-input-group-addon {
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 1.5;
  color: $input-color;
  text-align: center;
  background-color: $input-group-addon-bg;
  border: $input-btn-border-width solid $input-group-addon-border-color;
  @include border-radius($border-radius);

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: 0;
  }
}


//
// Reset rounded corners
//

.syn-input-group .syn-form-control:first-child,
.syn-input-group-addon:first-child,
.syn-input-group-btn:first-child > .syn-btn,
.syn-input-group-btn:first-child > .syn-btn-group > .syn-btn,
.syn-input-group-btn:first-child > .syn-dropdown-toggle,
.syn-input-group-btn:last-child > .syn-btn:not(:last-child):not(.syn-dropdown-toggle),
.syn-input-group-btn:last-child > .syn-btn-group:not(:last-child) > .syn-btn {
  @include border-right-radius(0);
}
.syn-input-group-addon:first-child {
  border-right: 0;
}
.syn-input-group .syn-form-control:last-child,
.syn-input-group-addon:last-child,
.syn-input-group-btn:last-child > .syn-btn,
.syn-input-group-btn:last-child > .syn-btn-group > .syn-btn,
.syn-input-group-btn:last-child > .syn-dropdown-toggle,
.syn-input-group-btn:first-child > .syn-btn:not(:first-child),
.syn-input-group-btn:first-child > .syn-btn-group:not(:first-child) > .syn-btn {
  @include border-left-radius(0);
}
.syn-input-group-addon:last-child {
  border-left: 0;
}


//
// Button input groups
//

.syn-input-group-btn {
  position: relative;
  // Jankily prevent input button groups from wrapping with `white-space` and
  // `font-size` in combination with `inline-block` on buttons.
  font-size: 0;
  white-space: nowrap;

  // Negative margin for spacing, position for bringing hovered/focused/actived
  // element above the siblings.
  > .syn-btn {
    position: relative;
    + .syn-btn {
      margin-left: (-$input-btn-border-width);
    }
    // Bring the "active" button to the front
    @include hover-focus-active {
      z-index: 3;
    }
  }

  // Negative margin to only have a single, shared border between the two
  &:first-child {
    > .syn-btn,
    > .syn-btn-group {
      margin-right: (-$input-btn-border-width);
    }
  }
  &:last-child {
    > .syn-btn,
    > .syn-btn-group {
      z-index: 2;
      margin-left: (-$input-btn-border-width);
      // Because specificity
      @include hover-focus-active {
        z-index: 3;
      }
    }
  }
}
