$modal-inner-padding:         15px !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-sm-up-margin-y: 30px !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $syn-colour-white!default;
$modal-content-border-color:     $syn-colour-border-light !default;
$modal-content-border-width:     $border-width !default;
$modal-content-xs-box-shadow:    0 3px 9px rgba($syn-colour-black,.5) !default;

$modal-backdrop-bg:           $syn-colour-black !default;
$modal-backdrop-opacity:      .5 !default;

$modal-header-bg          :   $syn-colour-gray-lightest !default;
$modal-header-border-color:   $syn-colour-border-light !default;
$modal-header-border-width:   $modal-content-border-width !default;

$modal-footer-bg          :   $syn-colour-gray-lightest !default;
$modal-footer-border-color:   $modal-header-border-color !default;
$modal-footer-border-width:   $modal-header-border-width !default;

$modal-lg:                    56.25rem !default; //900px
$modal-md:                    37.5rem !default; //600px
$modal-sm:                    18.75rem !default; //300px



// Add this class to body, to kill the scroll on the body
.syn-modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.syn-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  outline: 0;

  &.in{
    display: block;
  }

  // When fading in the modal, animate it to slide down
  &.fade .syn-modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
  }
  &.in .syn-modal-dialog { transform: translate(0, 0); }
}
.syn-modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Container div to position the modal with bottom padding
.syn-modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  max-width: $modal-md;
  margin: $modal-dialog-sm-up-margin-y auto;

  &.syn-modal-sm { max-width: $modal-sm; }
  &.syn-modal-lg { max-width: $modal-lg; }
}

// Actual modal
.syn-modal-content {
  position: relative;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($border-radius);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  outline: 0;
}

// Modal background
.syn-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-bg;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.in { opacity: $modal-backdrop-opacity; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.syn-modal-header {
  padding: $modal-title-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  background-color: $modal-header-bg;
}
// Close icon
.syn-modal-header .close {
  margin-top: -2px;
}

// Title text within header
.syn-modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .syn-modal-header and .syn-modal-footer)
.syn-modal-body {
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.syn-modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
  background-color: $modal-footer-bg;
}

// Measure scrollbar width for padding body during modal show/hide
.syn-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

