$nav-disabled-link-color: $syn-colour-gray-lightest;
$nav-disabled-link-hover-color:$syn-colour-gray-lightest;
$nav-hover-color: $syn-colour-gray-lightest;
$nav-active-color: $nav-hover-color;

.syn-nav{
  @extend .syn-flex;
  @extend .syn-flex-align-center;
  padding: 0;
  margin: 0;
  list-style: none;

  
  &.syn-nav-vertical{
    @extend .syn-flex-column;
    @extend .syn-flex-start;

    .syn-nav-item,
    .syn-nav-heading,
    .syn-nav-spacer{
      width:100%;
    }
  }
}

.syn-nav-heading{
  @extend .text-uppercase;

  h5{
     color:$syn-colour-gray-light;
     font-weight: bold;
     margin:($spacer/2) 1rem;
   }
}

.syn-nav-item{
  @extend .syn-flex;
}

.syn-nav-dropdown{
   &::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: .2rem;
    margin-left: .65rem;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }
}

.syn-nav-link {
  @extend .syn-flex;
  @extend .syn-flex-1;
  @extend .syn-flex-align-center;
  text-decoration: none;
  //font-size: $font-size-sm;
  padding:($spacer/2);
  transition: all .2s ease-in-out;

  @include hover-focus {
    text-decoration: none;
    background-color: $nav-hover-color;
   // color:$syn-colour-white;
    i.fa,
    i.material-icons {
    //  color: $syn-colour-white;
    }
  }

  span:first-of-type{
    padding-left:$spacer/2;
  }

  &.active{
    background-color:$nav-hover-color;
  }

  // Disabled state lightens text and removes hover/tab effects
  &.disabled {
    color: $nav-disabled-link-color;

    @include plain-hover-focus {
      color: $nav-disabled-link-hover-color;
      cursor: $cursor-disabled;
      background-color: transparent;
    }
  }

  i.fa,
  i.material-icons{
    color:$syn-colour-gray-light;
    margin:0 ($spacer/2) 0 ($spacer/2);
  }

}


/**
 * Themes
 */
//BLUE
.syn-nav-blue{
  .syn-nav-link {

    @include hover-focus {
      background-color: $syn-colour-blue;
       color:$syn-colour-white;
      i.fa,
      i.material-icons {
          color: $syn-colour-white;
      }
    }

    &.active{
      background-color:$syn-colour-blue;
      color:$syn-colour-white;
    }
  }
  }

//PLAIN
.syn-nav-plain{
  .syn-nav-link {

    @include hover-focus {
      text-decoration: underline;
      background: none;
    }

    &.active{
      font-weight:bold;
      background: none;
    }
  }
}


