$navbar-padding-vertical: 0.7rem;
$navbar-padding-horizontal: $navbar-padding-vertical;
$navbar-nav-link-bg-colour:darken($syn-colour-blue-dark,7);
$navbar-zindex:9;

.syn-navbar {
  @extend .syn-flex;
  @extend .syn-flex-1;
  position: sticky;
  top:0;
  z-index:$navbar-zindex;
  height: 2.8125rem;


  .syn-nav-link{
    color:$syn-colour-white;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    text-decoration: none;

    @include hover-focus {
      background-color:$navbar-nav-link-bg-colour;
    }

    &.active{
      background-color:$navbar-nav-link-bg-colour;
    }

  }
}


.syn-navbar-logo {
  @extend .syn-flex-align-self-center;
  margin: 0 $spacer;
  font-size: $font-size-lg;

  > a{
    color: $syn-colour-white;
    text-decoration: none;
  }

  > img {
    display: block;
  }
}

.syn-navbar-actions{
  @extend .syn-flex;
  @extend .syn-flex-align-self-center;
  margin-left:auto;
  margin-right:$spacer;

  .syn-navbar-search {
    @extend .syn-flex;
    position: relative;

    .syn-form-control {
      background-color: rgba($syn-colour-black, .2);
      border: none;
      color: $syn-colour_white;
      min-width: 13rem;
      margin-right:$spacer/2;
      height:initial;

      @include form-control-placeholder {
        color: rgba($syn-colour-white, .5);
      }
    }

    .material-icons{
      position:absolute;
      right:$spacer;
      top: .7rem;
      color:rgba($syn-colour-white, .5);
    }
  }

  .syn-nav{
    .syn-nav-link{
      padding: .66rem;
      i.material-icons{
         margin: 0;
        color:$syn-colour-white;
      }
    }
  }
}




