$pagination-disabled-link-color: $syn-colour-gray-lighter;
$pagination-disabled-link-hover-color:$syn-colour-gray-lightest;
$pagination-hover-color: $syn-colour-gray-lightest;
$pagination-active-color: $syn-colour-blue;

.syn-pagination{
  @extend .syn-flex;
  @extend .syn-flex-align-center;
  @extend .syn-flex-justify-center;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    a {
      @extend .syn-flex;
      @extend .syn-flex-1;
      @extend .syn-flex-align-center;
      text-decoration: none;
      color:$syn-colour-gray;
      padding: ($spacer/4) ($spacer/2);
      transition: all .2s ease-in-out;
      cursor: pointer;
      @include border-radius($btn-border-radius);

      @include hover-focus {
        text-decoration: none;
        background-color: $pagination-hover-color;
        // color:$syn-colour-white;
        i.fa,
        i.material-icons {
          //  color: $syn-colour-white;
        }
      }

      &.current {
        background-color: $pagination-active-color;
        color: $syn-colour-white;
      }
    }

    span{
      @extend .syn-flex;
      @extend .syn-flex-align-center;
      color:$pagination-disabled-link-color;
      padding: ($spacer/4) ($spacer/2);
    }
  }
}

