$nav-tabs-border-width:1px;
$nav-tabs-border-color:$syn-colour-border;
$nav-tabs-item-margin:$spacer;

//
// Tabs
//

.syn-nav-tabs {
  padding:0 $spacer;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .syn-nav-item {

    border:1px solid $syn-colour-border;
    border-bottom: none;
    border-right:none;

    &:last-child{
      border-right:1px solid $syn-colour-border;
    }


    + .nav-item {
      margin-left: $nav-tabs-item-margin;
    }
  }

  //Todo - Need to optimise everything below
  .syn-nav-item.active{
    margin-bottom: -$nav-tabs-border-width;
  }

  .syn-nav-item,
  .syn-nav-link{

    span:first-of-type{
      padding-left:0;
    }

    &.active{
      background-color: $syn-colour-white;
      color:$syn-colour-blue;
    }

    &:not(.active){
      background-color: $syn-colour-gray-lightest;
      color:$syn-colour-gray;
    }

    &:first-child{
      border-top-left-radius: $border-radius;
    }

    &:last-child{
      border-top-right-radius: $border-radius;
    }

    &:first-child:not(:last-child){
      border-top-right-radius: 0;
    }

    &:last-child:not(:first-child){
      border-top-left-radius: 0;
    }
  }

  .syn-nav-link{
    padding:$spacer/3 $spacer;
  }



}

  //
  // Tabbable tabs
  //

  // Hide tabbable panes to start, show them when `.active`
  .syn-tab-content {
    padding:$spacer;

    > .syn-tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
