

html{
  box-sizing: border-box;
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  font-size:$font-size-root;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-size: $font-size-base;
  line-height: $line-height;
}

a{

  @include plain-hover-focus(){
    color:$syn-colour-blue;
    text-decoration: none;
  }

   @include hover-focus {
    text-decoration: underline;
  }
}



textarea {
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

input,
button,
select,
textarea {
  // Remove all `margin`s so our classes don't have to do it themselves.
  margin: 0;
  // Normalize includes `font: inherit;`, so `font-family`. `font-size`, etc are
  // properly inherited. However, `line-height` isn't addressed there. Using this
  // ensures we don't need to unnecessarily redeclare the global font stack.
  line-height: inherit;
  // iOS adds rounded borders by default
  border-radius: 0;
}

//
// Forms
//

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: .5rem;
  color:$syn-colour-gray;
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}



