/**
* Colours
*/

//grays
$syn-colour-gray:                      rgba(92, 111, 123, 1) !default;
$syn-colour-gray-light:                lighten($syn-colour-gray, 10%) !default;
$syn-colour-gray-lighter:              #eceeef !default;
$syn-colour-gray-lightest:             #f7f7f9 !default;
$syn-colour-gray-dark:                 darken($syn-colour-gray,10%) !default;


//blues
$syn-colour-blue:                       rgba(3,129,220,1) !default;
$syn-colour-blue-light:                 #47aaf7 !default;
$syn-colour-blue-lighter:               #9ad1f9 !default;
$syn-colour-blue-lightest:              #c0e3fd !default;
$syn-colour-blue-dark:                  #18529c !default;
$syn-colour-blue-darker:                #294e80  !default;

//greens
$syn-colour-green:                       rgba(84,167,16,1) !default;
$syn-colour-green-light:                 rgba(123, 193, 67, 1) !default;
$syn-colour-green-lighter:               rgba(208, 228, 166, 1) !default;
$syn-colour-green-lightest:              #f5fbe9 !default;
$syn-colour-green-dark:                  #459603 !default;
$syn-colour-green-darker:                #2f6700  !default;

//other
$syn-colour-white:                     #fff !default;
$syn-colour-black:                     #000 !default;
$syn-colour-warning:                   #ee8f06 !default;
$syn-colour-error:                     rgba(208, 2, 2, 1) !default;
$syn-colour-border:                    rgba(0,0,0,.15)  !default;
$syn-colour-border-light:              rgba(210,217,222,1) !default;

// Colour map list to use for looping and creating different styled
// components that are based on the above colour pallette.
//EXPERIMENTAL
$syn-colours: (
        //gray
        gray: $syn-colour-gray,
        gray-light: $syn-colour-gray-light,
        gray-lighter: $syn-colour-gray-lighter,
        gray-lightest:$syn-colour-gray-lightest,
        gray-dark: $syn-colour-gray-dark,

        //blue
        blue: $syn-colour-blue,
        blue-light: $syn-colour-blue-light,
        blue-lighter: $syn-colour-blue-lighter,
        blue-lightest: $syn-colour-blue-lightest,
        blue-dark: $syn-colour-blue-dark,
        blue-darker: $syn-colour-blue-darker,

        // greens
        green: $syn-colour-green,
        green-light: $syn-colour-green-light,
        green-lighter: $syn-colour-green-lighter,
        green-lightest: $syn-colour-green-lightest,
        green-dark: $syn-colour-green-dark,
        green-darker: $syn-colour-green-darker,

        //others
        white: $syn-colour-white,
        black: $syn-colour-black,
        warning: $syn-colour-warning,
        error: $syn-colour-error
) !default;

/**
* Spacing
*/
$spacer:                     1rem !default; // (base) equivalent to 10px
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$spacers: (
        0: (
                x:   0,
                y:   0
        ),
        1: (
                x:   $spacer-x,
                y:   $spacer-y
        ),
        2: (
                x:   ($spacer-x * 1.5),
                y:   ($spacer-y * 1.5)
        ),
        3: (
                x:   ($spacer-x * 3),
                y:   ($spacer-y * 3)
        )
) !default;
$border-width:               1px !default;


/**
* Body
*/

$body-bg:                    #fff !default;
$body-text-colour:           $syn-colour-gray-dark !default;


/**
* Links
*/

$link-color:                 $syn-colour-blue !default;
$link-decoration:            none !default;
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      underline !default;
$cursor-disabled:                not-allowed !default;


/**
* Typography
*/
$font-family-sans-serif:     Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px !default; //is 16px = 1rem? or should it now be .875rem

$font-size-base:             .875rem !default;
$font-size-lg:               1rem !default;
$font-size-sm:               .675rem !default;
$font-size-xs:               .75rem !default;

$font-size-h1:               1.75rem !default;
$font-size-h2:               1.5rem !default;
$font-size-h3:               1.25rem !default;
$font-size-h4:               1rem !default;
$font-size-h5:               .75rem !default;
$font-size-h6:               .55rem !default;

$line-height-base:           1.5 !default;
$line-height:                $line-height-base !default;

$headings-margin-bottom:     ($spacer / 2) !default;
$headings-font-family:       inherit !default;
$headings-font-weight:       500 !default;
$headings-line-height:       1.1 !default;
$headings-color:             inherit !default;

$lead-font-size:             1.25rem !default;
$lead-font-weight:           300 !default;



$abbr-border-color:           $syn-colour-gray-light !default;

$blockquote-small-color:      $syn-colour-gray-light !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;
$blockquote-border-color:     $syn-colour-gray-lighter !default;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width !default;

/**
* Components
*/

$border-radius:          .15rem !default;
$caret-width:            .3em !default;
$input-btn-border-width: $border-width;


/**
 * Z-index master list
 * A bird's eye view of each components z-index order.
 */

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-navbar-sticky:     1030 !default;
$zindex-modal-bg:          1040 !default;
$zindex-modal:             1050 !default;
$zindex-tooltip:           1070 !default;



