.syn-page{
    @extend .syn-flex;
    @extend .syn-flex-column;
    height:100vh;
    width:100vw;

    &-header{
        width:100%;
        min-height:1rem;
        background-color:$syn-colour-blue-dark;
    }

    &-body{
        @extend .syn-flex;
        @extend .syn-flex-1;
        @extend .syn-flex-align-self-stretch;
    }        
}
