$sidebar-nav-hover-color: darken($syn-colour-gray-lightest,7);

.syn-sidebar{
    min-width:17rem;
    background-color: $syn-colour-gray-lightest;
    padding:$spacer 0;

    // this feels like its in the wrong place
    &:not(.syn-sidebar-transparent) .syn-nav-link{
         text-decoration: none;

      color:$syn-colour-blue;
      i.fa,
      i.material-icons {
        color: $syn-colour-gray-light;
      }

      @include hover-focus {
          background-color:$sidebar-nav-hover-color;
        }

        &.active{
          background-color:$sidebar-nav-hover-color;
        }
    }
}

.syn-sidebar-transparent{
   background-color: transparent;
}